input {
  display: inline-block;
  width: 100%;
}

.feedback {
  color: red;
  display: none;
}

.valid-feedback {
  color: green;
  display: none; 
}

@media (min-width: 1024px) {
  input{
    display: inline;
    width: auto;
  }
  
}
